.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.page-centered{
  position: absolute;
    left: 50%;
    z-index: 1;
    top: 50%;
}
.white-text{
  color: white;
}
.med-padded{
  padding: 2.5px 3vw;
}

.verticaly-spaced{
  margin: 30px auto;
}
